<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.abhaybmicoc.app"
    android:versionCode="201801"
    android:versionName="201801">

    <uses-feature android:name="android.hardware.bluetooth" />
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- if your targetSdkVersion >= 23, add the permissions below. -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.READ_SMS"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.SEND_SMS"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.RECEIVE_SMS"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_PRIVILEGED"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="com.google.android.gm.permission.READ_CONTENT_PROVIDER" />

    <application
        android:name=".entities.AndMedical_App_Global"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@android:style/Theme.NoTitleBar"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:icon,android:theme">
        <activity
            android:name=".activity.ChangeLanguageActivity"
            android:label="@string/title_activity_change_language"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="fullSensor"
            android:theme="@style/NoActionBar" />

        <activity
            android:name=".activity.TechnicianInstallationActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="fullSensor"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".screen.PostVerifiedOtpScreen"
            android:label="Verify OTP"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".actofit.ActofitMainActivity"
            android:label="@string/title_activity_weight_screen"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppThemeAction" />
        <activity
            android:name=".thermometer.ThermometerScreen"
            android:label="@string/title_activity_thermometer_screen"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.HeightActivity"
            android:label="@string/title_activity_height_screen"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeAction"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".screen.ActivateScreen"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screen.OtpVerifyScreen"
            android:label="@string/title_activity_otp_verify_screen"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".screen.OtpLoginScreen"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".screen.DisplayRecordScreen"
            android:label="Weight Details"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeAction" />
        <activity
            android:name=".oximeter.MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeAction" />
        <activity
            android:name=".base.ADInstructionActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.TransBackground" />
        <activity
            android:name=".glucose.GlucoseScanListActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeGlucose" />
        <activity
            android:name=".glucose.GlucoseActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeGlucose" />
        <activity
            android:name=".printer.esys.pridedemoapp.Act_Main"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" /> <!-- Printer -->
        <activity
            android:name=".printer.esys.pridedemoapp.Act_BTDiscovery"
            android:launchMode="standard"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" /> <!-- hemoglobin -->
        <activity
            android:name=".hemoglobin.MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeHemoGlobin" />
        <activity
            android:name=".oxygen.OxygenActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeGlucose" />
        <activity
            android:name=".activity.BloodPressureActivity"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".activity.InstructionActivity"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.TransBackground" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="be3553252fe706b37ebb6102a8414776371c942d" />

        <activity
            android:name=".activity.DialogActivity"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.TransBackground" />
        <activity
            android:name=".activity.PrintPreviewActivity"
            android:screenOrientation="landscape" /> <!-- for android 9 -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <uses-library
            android:name="com.samsung.android.sdk.bt"
            android:required="false" />
        <uses-library
            android:name="com.htc.android.bluetooth.le"
            android:required="false" />

        <service android:name=".BluetoothLeService" />
        <service android:name=".gatt.BleConnectService" />
        <service android:name=".gatt.BleReceivedService" />
        <service
            android:name=".hemoglobin.UsbService"
            android:enabled="true" />
        <service
            android:name=".oxygen.ble.BluetoothLeService"
            android:enabled="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9009a3f13f6942069b56f1780e4e6ca704514f8e" />
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="be3553252fe706b37ebb6102a8414776371c942d" /> <!-- glucose monitor data display -->
        <service
            android:name=".services.ConnectivityService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name=".services.ConnectivityReciever">
            <intent-filter>
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>